/* .btn {
    
} */

.weather-header {
    background-color: #3889d4 !important;
}

#search-aside {
    /* border: 2px solid black; */
    background: linear-gradient(to bottom, #3889d4 0%, #fCA321 100%)
}

#forecast-display {
    /* border: 2px solid black; */
    background: linear-gradient(to bottom, #3889d4 0%, #fCA321 100%)
}


#today {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    /* padding: 10px; */
    text-align: center;
    background-color: rgb(107, 223, 252);
}

#todayHeader {
    font-weight: 700;
}

.today-text {
    font-size: 1.5rem;
}


/* forecast cards */
.fiveDayTitle {
    font-weight: 700;
    padding-top: 5px;
}

#forecast {
    justify-content: space-around;
}

.card {
    text-align: left;
    padding: 0px;
    background-color: steelblue;
    color: white;
    padding: 5px;
}

.card-title {
    font-weight: 600;
    text-align: center;
    font-size: 1.4rem;
}


/*   search bar */
#form-heading {
    text-align: center;
    font-weight: 600;
}

#search-input {
    border: 5px solid white;
    min-width: 220px;
}
#search-button {
    border: 2px solid rgb(255, 255, 255);
    background-color: steelblue;
    min-width: 220px;
}

#search-button:hover {
    background-color: rgb(35, 64, 87);
    color: #fCA321;
}
.input-group {
    display: flex;
    justify-content: center;
}

/*  recent searches  */
h4 {
    font-weight: 500;
    text-align: center;
}




/*    */