.btn {
    border: 2px solid grey;
    background-color: aqua;
}

#search-aside {
    border: 2px solid black;
}

#forecast-display {
    border: 2px solid black;
}


#today {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: aquamarine;
}

#todayHeader {
    font-weight: 700;
}



.fiveDayTitle {
    font-weight: 700;
}

#forecast {
    justify-content: space-around;
}

.card {
    text-align: left;
    padding: 0px;
    background-color: steelblue;
    color: white;
    padding: 5px;
}


.card-title {
    font-weight: 600;
}


